<h1>Edit Plant Information</h1>
 <p><%= @error %></p>
<form action="/<%= current_user.username %>/plants/<%= @plant.id %>" method="post">
<input type="hidden" name="_method" value="patch">
  <label>Edit Plant Species:</label>
  <br>
  <input type="text" name="plant[species]" value="<%= @plant.species %>">
  <br>
  <br>
  <label>Edit Plant Sprout Date:</label>
  <br>
  <input type="text" name="plant[sprout_date]" value="<%= @plant.sprout_date %>">
  <br>
  <br>
  <label>Edit Plant Price:</label>
  <br>
  <input type="text" name="plant[price]" value="<%= @plant.price %>">
  <br>
  <br>
  <label>Edit Plant Quantity:</label>
  <br>
  <input type="text" name="plant[quantity]" value="<%= @plant.quantity %>">
  <br>
  <br>
  <input type="submit" value = "Update Plant">
</form>