<h1>Welcome <%=@user.username%>!</h1>

<h2>Account Information:</h2>
<br>
<h3>Name: <%= @user.name %> </h3>
<h3>Username: <%= @user.username %> </h3>
<h3>Email: <%= @user.email %> </h3>
<br>

<p>Here are all of your saved plants:</p>
<br>
<% @user.plants.each do |plant| %>
    Plant species: <%= plant.species %>
    Sprout date: <%=plant.sprout_date%>
    Price: <%=plant.price%>
    Quantity: <%=plant.quantity%>
    <br>
    <% @id = plant.id %>
    <a href="/<%=@user.username%>/plants/<%=@id%>/edit">Edit Plant</a>
    <form method="POST" action="/<%=@user.username%>/plants/<%=@id%>">
    <input type="hidden" name="_method" value="DELETE" />
     <input type="submit" value="Delete" />
    </form>
<% end %>
<% if @user.plants.size == 0 %>
    <h3> No saved plants </h3>
    <% end %>
    <br>

<p><a href="/<%=@user.username%>/new">Add More Plants</a></p>
<p><a href="/logout">Log Out</a></p>
